# Data Science Tools and Ecosystem

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. SQLite
4. R

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Popular Languages used in Data Science
- Popular Environments used in Data Science
- Popular Libraries Used in Data Science
- Use ordered/unordered list, bold text, and tables in a markdown cell

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. Seaborn
3. ggplot2

# Data Science Tools

|Data Science Tools|
|--------|
|VSCode|
|Jupiter Notebook|
|RStudio|
|Apache Zeppelin|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
print(200/60)

3.3333333333333335

## Author
Truong Ngo